@import "tailwindcss";

html {
  background: black;
}

.gfs-didot-regular {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: black;
  margin: 0;
  font-family: "GFS Didot", serif;
}

#hero-body {
  overflow: hidden;
  min-height: 100dvh;
}

.h1-custom {
  font-family: "GFS Didot", serif;
  font-size: 92px;
  letter-spacing: -1.68px;
  margin: 8px 0;

  @media (max-width: 1024px) {
    font-size: 70px;
    margin: 16px 0;
  }

  @media (max-width: 750px) {
    font-size: 54px;
    margin: 8px 0;
  }
}

.h2-custom {
  font-family: "GFS Didot", serif;
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 21px;
  }

  @media (max-width: 750px) {
    font-size: 18px;
  }
}

p {
  margin: 0;
}

.a-custom {
  font-family: "GFS Didot", serif;
  font-size: 22px;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

button:hover {
  cursor: pointer;
}

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: white;
}

/* vertical scan beam */
.nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 2px;
  height: 100%;

  background: linear-gradient(90deg,
      transparent,
      black,
      transparent);
  width: 5px;
  /* same as page background */

  opacity: 0;
}

.nav-link:hover::after {
  animation: scan 1.6s linear infinite;
  opacity: 0.9;
}

@keyframes scan {
  0% {
    left: -10px;
  }

  30% {
    left: 110%;
  }

  100% {
    left: 110%;
  }
}

#mobile-menu-main {
  background-color: transparent;
}

#resume-btn {
  background-color: rgba(220, 220, 220, 0.803);
}

#disable-waves-btn:hover {
  background-color: rgba(194, 196, 198, 0.122);
}

#tech-stack {
  font-size: 2.5rem;
}

.badge {
  @apply px-1.5 py-1 text-base border border-gray-700 text-white;
}

.contact-btn {
  font-size: 18px;
}

@media (max-width: 768px) {
  #hero {
    background-image: url('/assets/mobilebg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}